!!!
%html
	%head
	%meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
	%script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
	%script(type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAojheuTNgd3LWLwrmB758ctk4mjdMj2fY&sensor=false")
	%title Food Truck Heaven
	%body
		%h2 Food Truck Heaven
		#map-canvas