<!DOCTYPE html>
<html>
<head>
  <title>Food Truck Heaven</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta content="initial-scale=1.0, user-scalable=no" name="viewport">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAojheuTNgd3LWLwrmB758ctk4mjdMj2fY&amp;sensor=false" type="text/javascript"></script>
</head>
<body>

<%= yield %>

</body>
</html>
